<h2>Filters</h2>
<label for="start">Start date:</label>
<input type="date" id="start" name="btc-start">

<label for="end">End date:</label>
<input type="date" id="end" name="btc-start">

<h2>Bitcoin Price Index</h2> 
<canvas id="myChart" width="400" height="400"></canvas>
