<label for="start">Start date:</label>
<input type="date" id="start" name="start" value="" >

<label for="start">End date:</label>
<input type="date" id="end" name="end" value="">
<canvas id="myCanvas"></canvas>
